:root {
    --bubbles: url('https://contentservice.mc.reyrey.net/image_v1.0.0/?id=fd9933b3-b13a-51d7-bd23-72e3cce8d659&637975576050571648');
  }

  @import url("./img/Howdy\ Lemon.ttf");
@font-face {
  font-family: 'lemon';
  src: url('./img/Howdy\ Lemon.ttf');
  font-style: normal;
  font-weight: normal;
}
  
  html {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: url('https://contentservice.mc.reyrey.net/image_v1.0.0/?id=80ff633d-8eaa-5f01-95bd-081b34086bb7&637975571952246836'), dodgerblue;
    background-size: auto auto;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 
    lemon, sans-serif;
    scroll-behavior: smooth;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    max-width: 400px;
    text-align: center;
    color: navy;
    border-radius: 5px;
    padding: calc(5vh - 1rem) 0;
    display: block;
    margin: 0;
    
    
  }

  h2{
    max-width: 400px;
    text-align: center;
    color: navy;
    border-radius: 5px;
    padding: calc(50vh - 2rem) 0;
    display: block;
    margin: 0;
  }
  h3{
    max-width: 400px;
    text-align: center;
    color: navy;
    border-radius: 5px;
    padding: calc(10vh - 2rem) 0;
    display: block;
    margin: 0;
  }
  p{
    max-width: 400px;
    text-align: center;
    color: navy;
    border-radius: 5px;
    
    display: block;
    margin: 0;
  }
  
  #bubble_machine {
    position: fixed;
    inset: 0;
    z-index: 900;
    pointer-events: none;
  }
  
  .bubble {
    width: 100px;
    aspect-ratio: 1 / 1;  
    position: absolute;
    top: 100%;
    left: 0;
    pointer-events: all;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,.05));
    transform: translateX(-50%);
    animation: bubble_float 10s linear forwards;
  }
  @keyframes bubble_float {
    100% { 
      top: -130px; 
      transform: translateX(-50%) rotate(360deg); 
    }
  }
  
  .bubble:after {
    content:'';
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--bubbles);
    background-size: auto 100%;
    background-position: 0 0;
  }
  .pop_bubble:after {
    animation: pop_bubble .3s steps(6) forwards;
  }
  @keyframes pop_bubble {
    100% { 
      transform: scale(2);
      background-position: -600% 0;
    }
  }

  .imgCenter{
    width: 33%;
    margin-top: 35px;
    margin-left: 33%;
    margin-right: 33%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    
  }

.seccion {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
   margin: 10%;
    height: 80vh;
    padding: 20px;
    
}

.columna {
    
    padding: 20px;
    
}

.columna-1 {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columna-2 {
  width: 50%;
  height: 80vh;
  display: flex;
    align-items: center;
    justify-content: center;
}

.imgabout{
  width: 50%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  animation: float3 12s ease-in-out infinite;
}
.imgsocial{
  width: 70%;
  margin-left: 15%;
  margin-right:15% ;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  animation: float3 12s ease-in-out infinite;
  z-index: 901;
}


.social{
  width: 100px;
  color: navy;
}


@keyframes float3 {
  0% {
    
    transform: translatey(-20px) translatex(1px) scale(0.7) rotate(0deg);
  }
  50% {
    
    transform: translatey(-35px) translatex(5px) scale(0.9) rotate(-10deg);
  }
  100% {
    
    transform: translatey(-20px) translatex(1px) scale(0.7) rotate(0deg);
  }
}


.cartas {
  max-width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.carta {
  
  margin-bottom: 20px;
  padding: 20px;
  backdrop-filter: blur(3px);
  border-radius: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
}

.carta:last-child {
  margin-bottom: 0;
}

.columna-texto {
  width: 50%;
  padding: 20px;
}

.columna-imagen {
  width: 50%;
  padding: 20px;
}

.columna-imagen img {
  width: 100%;
  height: auto;
}

/* Media Queries */
@media (max-width: 768px) {
  .cartas {
      max-width: 80%;
  }
  .columna-texto, .columna-imagen {
      width: 100%;
      padding: 10px;
  }
}

@media (max-width: 480px) {
  .cartas {
      max-width: 90%;
  }
  .columna-texto, .columna-imagen {
      padding: 5px;
  }
}

.imgroad{
  width: 40%;
  animation: float3 12s ease-in-out infinite;
}
.road{
  font-size: 50px;
}

.nav{
  height: 120px;
  
  display: flex;
  justify-content: space-between;
} 
.nav a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.imgbutton{
  width: 30%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
}
.imgbutton:hover{
  width: 35%;
  filter: drop-shadow(0 3px 6px rgba(0, 0, 0, 0.8));
}

.columna-texto h3{
  font-size: 40px;
}
.columna-texto p{
  font-size: 30px;
}