:root {
    --bubbles: url('https://contentservice.mc.reyrey.net/image_v1.0.0/?id=fd9933b3-b13a-51d7-bd23-72e3cce8d659&637975576050571648');
  }
  
  html {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: url('https://contentservice.mc.reyrey.net/image_v1.0.0/?id=80ff633d-8eaa-5f01-95bd-081b34086bb7&637975571952246836'), dodgerblue;
    background-size: auto auto;
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    FONT-FAMILY: SYSTEM-UI;
  }
  
  body {
    margin: 0;
    padding: 0;
  }
  
  h1 {
    max-width: 400px;
    text-align: center;
    color: navy;
    border-radius: 5px;
    padding: calc(10vh - 2rem) 0;
    display: block;
    margin: 0;
    
    
  }

  h2{
    max-width: 400px;
    text-align: center;
    color: navy;
    border-radius: 5px;
    padding: calc(50vh - 2rem) 0;
    display: block;
    margin: 0;
  }
  
  #bubble_machine {
    position: fixed;
    inset: 0;
    z-index: 999999;
    pointer-events: none;
  }
  
  .bubble {
    width: 100px;
    aspect-ratio: 1 / 1;  
    position: absolute;
    top: 100%;
    left: 0;
    pointer-events: all;
    cursor: pointer;
    filter: drop-shadow(0px 3px 3px rgba(0,0,0,.05));
    transform: translateX(-50%);
    animation: bubble_float 10s linear forwards;
  }
  @keyframes bubble_float {
    100% { 
      top: -130px; 
      transform: translateX(-50%) rotate(360deg); 
    }
  }
  
  .bubble:after {
    content:'';
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    top: 0;
    background-image: var(--bubbles);
    background-size: auto 100%;
    background-position: 0 0;
  }
  .pop_bubble:after {
    animation: pop_bubble .3s steps(6) forwards;
  }
  @keyframes pop_bubble {
    100% { 
      transform: scale(2);
      background-position: -600% 0;
    }
  }

  .imgCenter{
    width: 40%;
    margin-top: 60px;
    margin-left: 30%;
    margin-right: 30%;
    filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
    
  }

.seccion {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    
   margin: 10%;
    height: 80vh;
    padding: 20px;
    
}

.columna {
    
    padding: 20px;
    
}

.columna-1 {
    width: 50%;
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.columna-2 {
  width: 50%;
  height: 80vh;
  display: flex;
    align-items: center;
    justify-content: center;
}

.imgabout{
  width: 50%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  animation: float3 12s ease-in-out infinite;
}
.imgsocial{
  width: 70%;
  filter: drop-shadow(0 2px 5px rgba(0, 0, 0, 0.7));
  animation: float3 12s ease-in-out infinite;
}

.social-link {
  display:         flex;
  justify-content: center;
  align-items:     center;
  gap: 10px;
}

.social-link .icon-box {
  width:  80px;
  height: 80px;
  background: var(--action-secondary);
  border-radius: 50%;
  display:         flex;
  justify-content: center;
  align-items:     center;
  font-size:80px;
}
.social{
  width: 100px;
  color: navy;
}


@keyframes float3 {
  0% {
    
    transform: translatey(-20px) translatex(1px) scale(0.7) rotate(0deg);
  }
  50% {
    
    transform: translatey(-35px) translatex(5px) scale(0.9) rotate(-10deg);
  }
  100% {
    
    transform: translatey(-20px) translatex(1px) scale(0.9) rotate(0deg);
  }
}

  